body {
  font-family: 'verdana';
  color: white;
  background-color: black;
  text-align: center;
}

header {
  font-size: 50px;
  font-weight: normal;

}

p{
  color: aquamarine;
  font-size: 16px;
}